@charset "utf-8";
@keyframes anibar{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 340px;}
}

@keyframes anibar2{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 320px;}
}

@keyframes anibar3{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 240px;}
}

@keyframes anibar4{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 340px;}
}

@keyframes anibar5{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 240px;}
}
::selection{background: green;color: #fff;}




.outline{background-color: #4875b9;position: fixed;z-index:9999999}
.outline.line_top{width:100%;height:20px;left:0;top:0}
.outline.line_left{width:20px;height:100%;left:0;top:0}
.outline.line_right{width: 20px; height: 100%;right: 0;top: 0;}
.outline.line_bottom{width: 100%;height: 20px;right: 0;bottom: 0;}


h2{font-weight: 500;}
#wrap{width: 100%; min-width: 1200px;background-color: #fff;
  overflow-x: hidden;}
.inner{width: 1200px; margin: 0 auto;}



.trand{color: #4875b9;}

.logo{padding-left: 50px; padding-top: 50px;position: fixed;}

#slide{padding-top: 200px;}



.quick {position: fixed; left: 50px; top: 400px; transform: translate(0, -50%); z-index: 9999;}
.quick p{padding-top: 16px;font-size: 24px; font-weight: 500;transition: 0.5s;}
.quick p:hover{color: blue;}

.top{position: fixed; left: 50px; top:530px;z-index: 999999;
transform: translate(0,50%);}
.top img{width: 70%;}


.sns {position: fixed; right: 50px; top: 410px; transform: translate(0, -50%); z-index: 9999;}
.sns p{padding-top: 20px;}





#section1{padding-top: 250px;background: url(../images/pic.png) no-repeat; background-position: right 440px top 600px;}

.about h2{padding-left: 50px;font-size: 58px;color: black;position: relative;}
.about .blueline{width: 240px; height: 10px;background-color: rgba(153, 177, 247, 80%);
position: absolute; left: 410px;top: 1140px;}
.about h3{font-size: 90px; font-weight: 400;padding-left: 200px;padding-top: 120px;font-family: 'Dongle', sans-serif;color: #5c5c5c;}
.about p{font-size: 20px;padding-top: 80px;padding-left: 200px;}

.profile{padding-left: 200px;padding-top: 64px;}
.profile p{padding-top: 4px;}




.skills{display: flex; justify-content: space-around ;padding-top: 50px;}

#result {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
    
    
}
/* 상자가 오른쪽으로 늘어남 width 사용*/
#result div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar 3s infinite;
    
    
}

#result2 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result2 div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar2 3s infinite;
    
    
}
#result3 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result3 div {
   
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar3 3s infinite;
    
    
}

#result4 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result4 div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar4 3s infinite;
    
    
}

#result5 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result5 div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar5 3s infinite;
    
    
}

.percent1{padding-left: 302px;}
.percent2{padding-left: 320px;}
.percent3{padding-left: 332px;}
.percent4{padding-left: 236px;}
.percent5{padding-left: 230px;}

.skills p{font-weight: 600;}

h4{padding-left: 94px;padding-top: 100px;font-size: 40px;font-weight: 400;color: black;}




#section2{padding-top: 400px;}
#section2 h2{padding-left: 50px;font-size: 58px;color: black;}
#section2 h3{font-weight: 500;font-size: 24px;padding-left: 50px;color: black;}
#section2 p{padding-left: 50px;padding-top: 20px;}
#section2 .inner, #section3 .inner, #section4 .inner{display: flex;}
#section2 .blueline{width: 220px; height: 10px;background-color: rgba(153, 177, 247, 80%);position: absolute;left: 412px;top: 2750px;}
.graphic{width:300px}
.picture1{width:calc(100% - 300px);position: relative}

#section2 .picture1 p{padding-left: 0}

.col-md-4{/*바깥그림자*/}
.picture1 a{display: block;overflow: hidden;position: relative;}
.picture1 a:before{content:'';display: block;position:absolute;width:100%;height: 100%;top:0;left:0;z-index: 99;transition: 0.5s;}
.picture1 a:hover:before{box-shadow: 0 0 100px rgba(0, 0, 0, 1) inset;}
.picture1 .card a:hover:before{box-shadow: 0 0 20px rgba(255, 255, 255, 1) inset;}
.picture1 a img{transition: 0.5s;}
.picture1 a:hover img{transform:scale(1.2)}
.picture1 .card{position: absolute; left: 100px; top: -50px;} 
.picture1 .banner{position: absolute; right: 0;top: 10px;}
.picture1 .poster{position: absolute;left: 170px;top: 250px;}
.picture1 .parody{position: absolute;right: 60px; top: 350px;}
.picture1 .logo{position: absolute;top: 250px;left: -250px;}
.fh5co-text{position: absolute;top:30%;left:24%;transform:scale(0);transition: 0.5s;color:#fff;font-weight: 700;font-size: 4rem;}
.picture1 a:hover .fh5co-text{transform:scale(1)}









#section3{padding-top: 700px;}
#section3 h2{padding-left: 50px;font-size: 58px;color: black;}
#section3 h3{font-weight: 500;font-size: 24px;padding-left: 50px;color: black;}
#section3 p{padding-left: 50px;padding-top: 20px;}
#section3 .inner{display: flex;}
#section3 .blueline{width: 104px; height: 10px;background-color: rgba(153, 177, 247, 80%);position: absolute;left: 407px;top: 3668px}

.picture2{width:calc(100% - 300px);position: relative}

.picture2 a{display: block;overflow: hidden;position: relative;}
.picture2 a:before{content:'';display: block;position:absolute;width:100%;height: 100%;top:0;left:0;z-index: 99;transition: 0.5s;}
.picture2 a:hover:before{box-shadow: 0 0 100px rgba(0, 0, 0, 1) inset;}
.picture2 a img{transition: 0.5s;}
.picture2 a:hover img{transform:scale(1.2)}




.picture2 .banner{position: absolute;top: 350px; left: -250px;}
.picture2 .home{position: absolute; top: -20px; left: 150px;}
.picture2 .detail{position: absolute; right: 0px; top: -10px;}
.picture2 .logo{position: absolute; left: 300px;top: 200px;}

.tag{color: #4875b9;}












#section4{padding-top: 800px;}
#section4 h2{padding-left: 50px;font-size: 58px;color: black;}
#section4 h3{font-weight: 500;font-size: 24px;padding-left: 50px;color: black;}
#section4 p{padding-left: 50px;padding-top: 20px;}
#section4 .inner{display: flex;}
#section4 .blueline{width: 220px; height: 10px;background-color: rgba(153, 177, 247, 80%);position: absolute;left: 412px;top: 4710px}

.picture3{width:calc(100% - 300px);position: relative}

.picture3 a{display: block;overflow: hidden;position: relative;}
.picture3 a:before{content:'';display: block;position:absolute;width:100%;height: 100%;top:0;left:0;z-index: 99;transition: 0.5s;}
.picture3 a:hover:before{box-shadow: 0 0 100px rgba(0, 0, 0, 1) inset;}
.picture3 a img{transition: 0.5s;}
.picture3 a:hover img{transform:scale(1.2)}




.picture3 .logo{position: absolute; top: 280px;left: -50px;}
.picture3 .home{position: absolute;left: 100px;top: -50px;}
.picture3 .banner{position: absolute;left: 400px; top: 260px;}







#footer{padding-top: 600px; padding-bottom: 20px;text-align: center;}