@charset "utf-8";
@keyframes anibar{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 340px;}
}

@keyframes anibar2{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 320px;}
}

@keyframes anibar3{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 240px;}
}

@keyframes anibar4{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 340px;}
}

@keyframes anibar5{
  0%{background-color: #4875b9; width: 0px;}
  
  100%{background-color:#4875b9;width: 240px;}
}

@keyframes bounce1{
  from{bottom: 0px; box-shadow: 0 0 20px  rgba(0, 0, 0,1);}
  to{bottom: 50px; box-shadow: 0 50px 50px  rgba(0, 0, 0, 0) ;}
}
::selection{background: green;color: #fff;}

.tag{color: #4875b9;text-decoration: underline;}


.SCROLL-button{width:100px;text-align: center;background-color:#4875b9; 
  position:absolute; bottom:0px;left:10.5%;
  animation: bounce1 0.8s infinite cubic-bezier(0.1,0.25,0.1,1);
  animation-direction: alternate ;color: #fff;
 }


.outline{background-color: #4875b9;position: fixed;z-index:9999999}
.outline.line_top{width:100%;height:20px;left:0;top:0}
.outline.line_left{width:20px;height:100%;left:0;top:0}
.outline.line_right{width: 20px; height: 100%;right: 0;top: 0;}
.outline.line_bottom{width: 100%;height: 20px;right: 0;bottom: 0;}


h2{font-weight: 500;}
#wrap{width: 100%; min-width: 1200px;background-color: #fff;
  overflow-x: hidden;}
.inner{width: 100%;max-width: 1200px; margin: 0 auto;}

#slide .inner{position: relative;}

.trand{color: #4875b9;}
header {position: fixed;left: 0;top: 0;z-index: 99999;width: 170px;}
.contents{width: calc(100% - 100px);float: right;}
.logo{padding-left: 50px; padding-top: 50px;}

#slide{padding-top: 200px;}
#slide img{width: 100%;}


.quick {margin-left: 50px; margin-top: 100px;  z-index: 9999;}
.quick p{padding-top: 16px;font-size: 24px; font-weight: 500;transition: 0.5s;}
.quick p:hover{color: blue;}

.top{position: fixed; right: 30px; top:800px;z-index: 999999;
transform: translate(0,-50%);}
.top img{width: 70%;}


.sns {position: fixed; right: 50px; top: 430px; transform: translate(0, -50%); z-index: 9999;}
.sns p{padding-top: 20px;}



h2{position: relative;}
.blueline{display: block;width: 220px; height: 10px;background-color: rgba(153, 177, 247, 80%);position: absolute;left: 60px;bottom: 2px;}


#section1{padding-top: 250px;background: url(../images/pic.png) no-repeat; background-position-x: 66%; background-position-y: 54%;}
.gitopic{position: absolute;right: 300px; top: 300px;}
.about h2{padding-left: 0px;font-size: 58px;color: black;position: relative;}
.about .blueline{display: block;width: 240px; height: 10px;background-color: rgba(153, 177, 247, 80%);position: absolute;left: 10px;bottom: 2px;}

.about h3{font-size: 90px; font-weight: 400;padding-left: 80px;padding-top: 120px;font-family: 'Dongle', sans-serif;color: #444444;}
.about p{font-size: 20px;padding-top: 80px;padding-left: 80px;}

.profile{padding-left: 80px;padding-top: 64px;}
.profile p{padding-top: 4px;}




.skills{display: flex; justify-content: space-around ;padding-top: 50px;}

#result {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
    
    
}
/* 상자가 오른쪽으로 늘어남 width 사용 foward 멈춤*/
#result div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar 3s infinite;
    
    
}

#result2 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result2 div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar2 3s infinite;
    
    
}
#result3 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result3 div {
   
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar3 3s infinite;
    
    
}

#result4 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result4 div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar4 3s infinite;
    
    
}

#result5 {
    background: #ccc;
    height: 10px;
    margin-bottom: 1rem;
    width: 400px;
}

#result5 div {
    
    height: 10px;
    margin-bottom: 0;
    position: relative;
    width: 20px;
    animation: anibar5 3s infinite;
    
    
}

.percent1{padding-left: 302px;}
.percent2{padding-left: 320px;}
.percent3{padding-left: 332px;}
.percent4{padding-left: 236px;}
.percent5{padding-left: 230px;}

.skills p{font-weight: 600;}

h4{padding-left: 60px;padding-top: 100px;font-size: 40px;font-weight: 400;color: black;}



#section2 .inner, #section3 .inner, #section4 .inner{display: flex;width: 100%;max-width: 1200px;position: relative; }
.graphic{width:300px}


#section2{padding-top: 400px;margin: 0 auto;height: 600px;}
#section2 h2{padding-left: 50px;font-size: 58px;color: black;position: relative;}

#section2 h3{font-weight: 500;font-size: 24px;padding-left: 50px;color: black;}
#section2 p{padding-left: 50px;padding-top: 20px;}



.picture1{width:calc(100% - 300px);display: flex; flex-wrap: wrap;}

#section2 .picture1 p{padding-left: 0}

.col-md-4{/*바깥그림자*/}
.picture1 a{display: block;overflow: hidden;position: relative;}
.picture1 a:before{content:'';display: block;position:absolute;width:100%;height: 100%;top:0;left:0;z-index: 99;transition: 0.5s;}
.picture1 a:hover:before{box-shadow: 0 0 100px rgba(0, 0, 0, 70%) inset;}
.picture1 .card a:hover:before{box-shadow: 0 0 20px rgba(255, 255, 255, 1) inset;}
.picture1 a img{transition: 0.5s;}
.picture1 a:hover img{transform:scale(1.2)}

.picture1 .card{transform: translate(100px,-50px);} 
.picture1 .banner{transform: translate(250px,20px);}
.picture1 .poster{transform: translate(-100px,-20px);}
.picture1 .parody{transform: translate(40px, 100px);}
.picture1 .logo{transform: translate(-250px, 0px);}
.fh5co-text{position: absolute;top:26%;left:24%;transform:scale(0);transition: 0.5s;color:#fff;font-weight: 700;font-size: 4rem;font-weight: 500;text-shadow: 0 0 5px rgba(0, 0, 0, 1);}
.picture1 a:hover .fh5co-text{transform:scale(1)}

.card .fh5co-text {font-size: 3rem;position: absolute;left:15%;top: 36%;}

.picture1 .banner .fh5co-text{font-size: 4rem;position: absolute;left: 36%;top: 32%;}
.picture1 .poster .fh5co-text{font-size: 4rem;position: absolute;left: 15%;top: 34%;color: #fff;}
.picture1 .parody .fh5co-text{font-size: 3rem;position: absolute;left: 26%;top: 30%;color: #fff;}







#section3{padding-top: 400px;margin: 0 auto;height: 600px;}
#section3 h2{padding-left: 50px;font-size: 58px;color: black;}
#section3 h3{font-weight: 500;font-size: 24px;padding-left: 50px;color: black;}
#section3 p{padding-left: 50px;padding-top: 20px;}
#section3 .inner{display: flex;}


.picture2{width:calc(100% - 300px);display: flex; flex-wrap: wrap;}

.picture2 a{display: block;overflow: hidden;position: relative;}
.picture2 a:before{content:'';display: block;position:absolute;width:100%;height: 100%;top:0;left:0;z-index: 99;transition: 0.5s;}
.picture2 a:hover:before{box-shadow: 0 0 20px rgba(0, 0, 0, 1) inset;}
.picture2 a img{transition: 0.5s;}
.picture2 a:hover img{transform:scale(1.2)}




.picture2 .banner{transform: translate(-250px, -300px);}
.picture2 .home{transform: translate(140px, -20px);}
.picture2 .detail{transform: translate(330px, -20px);}
.picture2 .logo{transform: translate(-200px, -450px);}


.picture2 a:hover .fh5co-text{transform:scale(1)}


.picture2 .home .fh5co-text{position: absolute;top: 22%;left: 26%;font-size: 3rem;text-align: center;}
.picture2 .banner .fh5co-text{position: absolute;left: 36%;top: 30%;}
.picture2 .detail .fh5co-text{position: absolute;text-align: center;left: 14%;top: 34%;}
.picture2 .logo .fh5co-text{position: absolute;font-size: 2.5rem;color: #ffffff;text-align: center;top: 18%;left: 34%;line-height: 2.5rem;}










#section4{padding-top: 400px;margin: 0 auto;height: 600px;}
#section4 h2{padding-left: 50px;font-size: 58px;color: black;}
#section4 h3{font-weight: 500;font-size: 24px;padding-left: 50px;color: black;}
#section4 p{padding-left: 50px;padding-top: 20px;}
#section4 .inner{display: flex;}


.picture3{width:calc(100% - 300px);display: flex; flex-wrap: wrap;}
#section3 .blueline{display: block;width: 100px; height: 10px;background-color: rgba(153, 177, 247, 80%);position: absolute;left: 56px;bottom: 2px;}

.picture3 a{display: block;overflow: hidden;position: relative;}
.picture3 a:before{content:'';display: block;position:absolute;width:100%;height: 100%;top:0;left:0;z-index: 99;transition: 0.5s;}
.picture3 a:hover:before{box-shadow: 0 0 20px rgba(0, 0, 0, 1) inset;}
.picture3 a img{transition: 0.5s;}
.picture3 a:hover img{transform:scale(1.2)}

.picture3 a:hover .fh5co-text{transform:scale(1)}


.picture3 .logo{transform: translate(-50px, 0px);}
.picture3 .home{transform: translate(180px, -50px);}
.picture3 .home img{border: 1px solid #ccc;}
.picture3 .banner{transform: translate(50px, 270px);}

.picture3 .home .fh5co-text{position: absolute;top: 22%;left: 26%;font-size: 3rem;text-align: center;color: #fff;}
.picture3 .logo .fh5co-text{position: absolute;color: #fff;font-size: 2.5rem;
text-align: center;left: 28%;top: 24%;line-height: 2.5rem;}
.picture3 .banner .fh5co-text{position: absolute;color: #fff;font-size: 4rem;
  text-align: center;left: 36%;top: 32%;}







#footer{padding-top: 200px; padding-bottom: 20px;text-align: center;}