/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#slide .slick-arrow{position: absolute;top:400px ;
    z-index: 9999; font-size: 0;width: 100px;height: 100px;
    border: none;}

#slide .slick-prev{left: 300px; background: url(../images/arr_left.png)no-repeat;}
#slide .slick-next{right: 300px; background: url(../images/arr_right.png)no-repeat ;}



.slick-prev, .slick-next {z-index:9999}
.slick-prev:before,
.slick-next:before {
      color: black;
    }
  .slick-slide img {
      width: 100%;
    }
  .slick-list {padding:0 !important}






  

.box1{width:1300px;margin:100px auto;overflow:hidden;}
.center  {margin:20px}
.center  .slick-slide {margin:0 50px;padding:30px;height:auto;
            }
.center .slick-slide img {transition:.3s}
.center .slick-slide.slick-active.slick-current img {
      opacity: 1;
      transform: scale(1.4);  }

.box {width:800px;margin:0 auto;}
.box .slider{float:left}
.box .slider-for{width:50%}
.box .slider-nav{width:40%;margin-right:10%;}
.box .slick-slide {margin:0 5px;height:auto}



#section3 .slick-arrow{position: absolute;top:190px ;
    z-index: 9999; font-size: 0;width:100px;height:100px;
    border: none;}
#section3 .slick-prev{background: url(../images/arr_left.png) no-repeat; left: -20px;}
#section3 .slick-next{background: url(../images/arr_right.png) no-repeat;right: -50px;}




#section5 .vertical-center{width: 900px;}
